/* 事前処理 */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

.test-blank{
  height: 1500px;
}

:root{
  --base-color: hsl(30, 81%, 56%);
  --text-color: #3f3f3f;
  --accent-color: hsl(29, 100%, 14%);
  --accent-color2: #8d3b0591;
  --reverse-color: hsl(30, 25%, 40%);
  --back-color:#f2f2f3;
}

h1, p{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: var(--text-color);
}

body{
  margin: 0;
  font-family: 'Noto Sans JP', Verdana, Tahoma, sans-serif;
  background: var(--back-color);
  color: var(--text-color);
}

.btn{
  width: 80%;
  height: 50px;
  display: block;
  margin: 20px auto;
  text-align: center;
  line-height: 50px;
  background: var(--base-color);
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px var(--reverse-color);
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: var(--back-color)
}

.btn:hover{
  opacity: 0.9;
}

h1{
  font-size: 24px;
  font-weight: 600;
}

p{
  font-size: 14px;
}



/* パーツ */
.wrapper{
  background-color: #fff;
  box-shadow: 4px 5px 0 0 #e8e1d2;
  padding: 30px 20px;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 80px;
}

.wrapper ol{
  margin: 0;
}

.wrapper ol li{
  text-align: left;
  font-size: 16px;
  padding: 3px 0;
  font-weight: 500;
}

.marker-yellow{
  background: linear-gradient(transparent 75%, #ffdc00 75%);
}

.marker-brown{
  background: linear-gradient(transparent 75%, var(--accent-color2) 75%);
}



/* ヘッダー */
header h1{
  font-size: 32px;
  margin: 16px;
  font-weight: 600;
}

header p{
  font-size: 16px;
}

header img{
  width: 220px;
  margin: 30px;
}

header{
  background-color: var(--base-color);
  color: #fff;
  padding-top: 100px;
  padding-bottom: 20px;
  text-align: center;
  margin-bottom: 50px;
}

.title{
  margin-bottom: 20px;
}

header .scroll p{
  color: var(--accent-color);
  font-weight: bold;
  font-size: 18px;
  margin-top: 70px;
}




/* トップ */
.top{
  text-align: center;
}

.top .container{
  padding: 30px 0;
  margin: 20px;
  border-top: 3px solid var(--back-color);
}

.top img{
  width: 240px;
}

.top .list{
  width: 330px;
  margin: 0 auto;
}

.top .list li > a{
  padding: 5px;
  border-radius: 3px;
  transition-property: background, color;
  transition: .3s;
  font-size: 16px;
}

.top .list li > a:hover{
  background: var(--reverse-color);
  color: #fff;
}

.top .list > ol{
  padding-left: 20px;
}



/* メインコンテンツ */
.main-contents{
  text-align: center;
}

.main-contents .content{
  width: 100%;
  margin: 20px auto;
  padding: 60px 0 10px 0;
  border-top: 3px solid var(--back-color);
}

.main-contents img{
  width: 240px;
}

.main-contents .info{
  text-align: left;
}

.main-contents .info h1{
  margin: 30px 0 10px 0;
  font-weight: 500;
  font-size: 20px;
  padding: 0 20px;
}

.main-contents .info p{
  line-height: 1.8;
  padding: 0 10px;
}



/* サイトマップ */
.sitemap{
  text-align: center;
}

.sitemap .info h1{
  margin: 30px 0 10px 0;
  font-weight: 500;
  font-size: 20px;
  padding: 0 20px;
}

.sitemap .info p{
  line-height: 1.8;
  padding: 0 10px;
  text-align: left;
}
.sitemap img{
  width: 240px;
}

.sitemap > .wrapper{
  padding: 50px 30px;
}




/* お問い合わせ */
.contact{
  text-align: center;
}

.contact .info h1{
  margin: 30px 0 10px 0;
  font-weight: 500;
  font-size: 20px;
  padding: 0 20px;
}

.contact .info p{
  line-height: 1.8;
  padding: 0 10px;
  text-align: left;
}
.contact img{
  width: 240px;
}

.contact > .wrapper{
  padding: 50px 30px;
}


/* フッター */
footer{
  background-color: #323135;
  height: 100px;
  color: #98969c;
  text-align: center;
}

footer .footer-items{
  padding: 30px;
}




@media (min-width: 610px) {
  /* タブレットサイズ */
  .btn{
    width: 100%;
    height: 40px;
    line-height: 40px;
  }


/* ヘッダー */
  header{
    padding-bottom: 100px;
  }

  header .container{
    display: flex;
    width: 500px;
    margin: 0 auto;
  }

  header .title{
    width: 60%;
    align-self: center;
  }

  header .pic{
    width: 40%;
  }

  header img{
    width: 180px;
  }

  header h1{
    font-size: 32px;
  }

  header .scroll{
  display: none;
}


/* トップ */
  .top .container{
    display: flex;
    margin: 20px auto;
  }

  .top .list{
    width: 60%;
    align-self: center;
  }

  .top .pic{
    width: 40%;
  }

  .top img{
    width: 200px;
  }

  .top .top-title{
    text-align: left;
    width: 550px;
    margin: 0 auto;
  }

  .top h1{
    text-align: center;
  }



/* メインコンテンツ */
  .main-contents .wrapper .content{
    display: flex;
    padding: 30px 0;
  }

  .main-contents .wrapper .content:nth-child(odd){
    flex-direction: row-reverse;
  }

  .main-contents .pic{
    width: 40%;
    align-self: center;
  }

  .main-contents .info{
    width: 60%;
    padding: 0 20px;
  }

  .main-contents img{
    width: 200px;
  }

  .main-contents .content{
    padding: 0;
  }



  /* サイトマップ */
  .sitemap .wrapper .container{
  display: flex;
  }

  .sitemap .pic{
    width: 40%;
    align-self: center;
  }

  .sitemap .info{
    width: 60%;
    padding: 0 20px;
  }

  .sitemap img{
    width: 200px;
  }

  .sitemap h1{
    text-align: left;
  }

  .sitemap .container{
    padding: 0;
  }

  .sitemap .btn{
    background-color: var(--accent-color2);
  }



  /* お問い合わせ */
  .contact .wrapper .container{
  display: flex;
  }

  .contact .pic{
    width: 40%;
    align-self: center;
  }

  .contact .info{
    width: 60%;
    padding: 0 20px;
  }

  .contact img{
    width: 200px;
  }

  .contact h1{
    text-align: left;
  }

  .contact .container{
    padding: 0;
  }

  .contact .btn{
    background-color: var(--accent-color2);
  }
}



@media (min-width: 1025px){
  h1{
    font-size: 28px;
  }

  .btn{
    height: 50px;
    line-height: 50px;
    margin: 30px auto;
  }

  .wrapper{
    padding: 50px 20px 0 20px;
  }



  /* ヘッダー */
  header .container{
    width: 800px;
  }

  header img{
    width: 300px;
  }

  header h1{
    font-size: 48px;
  }

  header p{
    font-size: 24px;
  }



  /* トップ */
  .top .top-title{
    width: 800px;
  }


  .top h1{
    font-size: 28px;
    margin-left: 40px;
  }

  .top img{
    width: 300px;
  }

  .top ol{
    list-style-type: decimal;
    padding-left: 40px;
  }

  .top .list li > a{
    font-size: 20px;
  }

  .top .list{
    width: 50%;
  }

  .top .pic{
    width: 50%;
  }



  /* メインコンテンツ */
  .main-contents img{
    width: 300px;
  }

  .main-contents .content{
    padding: 50px;
  }

  .main-contents .info h1{
    font-size: 24px;
  }

  .main-contents .info p{
    line-height: 1.8;
    font-size: 16px;
  }



  /* サイトマップ */
  .sitemap img{
    width: 300px;
  }

  .sitemap .container{
    padding: 50px;
  }

  .sitemap .info h1{
    font-size: 24px;
  }

  .sitemap .info p{
    line-height: 1.8;
    font-size: 16px;
  }

  .sitemap > .wrapper{
    padding: 0;
  }



  /* お問い合わせ */
  .contact img{
    width: 300px;
  }

  .contact .container{
    padding: 50px;
  }

  .contact .info h1{
    font-size: 24px;
  }

  .contact .info p{
    line-height: 1.8;
    font-size: 16px;
  }

  .contact > .wrapper{
    padding: 0;
  }

  /* フッター */
  footer{
    height: 200px;
  }

  footer .footer-items{
    padding: 70px;
  }


}

/* メディアクエリ　ブレイクポイントに関して
最小：320px
スマホ：~609px
タブレット：~1024px
PC：1025px~
*/