.test-blank{
  height: 1500px;
}

:root{
  --base-color: hsl(30, 81%, 56%);
  --text-color: hsl(0, 0, 27%);
  --reverse-color: hsl(30, 25%, 40%)
}

h1, p{
  margin: 0;
  padding: 0;
}

a{
  padding: 5px;
  text-decoration: none;
  color: var(--text-color);
  border-radius: 3px;
  transition-property: background, color;
  transition: .3s;
}

a:hover{
  background: var(--reverse-color);
  color: #fff;
}

body{
  margin: 0;
  font-family: Verdana, Tahoma, sans-serif;
  background: #f2f2f3;
  color: var(--text-color);
}

header h1{
  font-size: 32px;
  margin: 16px;
  font-weight: 550;
}

header p{
  font-size: 16px;
}

header img{
  width: 220px;
  margin: 30px;
}

header{
  background-color: var(--base-color);
  color: #fff;
  padding: 80px 0;
  text-align: center;
}

.title{
  margin-bottom: 20px;
}



.top{
  text-align: center;
}

.top h1{
  font-size: 24px;
}

.top img{
  width: 240px;
  margin: 30px 0;
}

.wrapper{
  width: 90%;
  margin: 0 auto;
  padding: 60px 0;
}

.wrapper ol{
  margin: 0;
}

.wrapper ol li{
  text-align: left;
  font-size: 16px;
  padding: 3px 0;
}

.top .list{
  width: 330px;
  margin: 0 auto;
}



@media (min-width: 600px) {
  /* タブレットサイズ */

  header .container{
    display: flex;
    width: 550px;
    margin: 0 auto;
  }

  header .title{
    width: 60%;
    align-self: center;
  }

  header .pic{
    width: 40%;
  }

  header img{
    width: 180px;
  }

  header h1{
    font-size: 32px;
  }




  .top .container{
    display: flex;
    width: 550px;
    margin: 0 auto;
  }

  .top .list{
    width: 60%;
    align-self: center;
  }

  .top .pic{
    width: 40%;
  }

  .top img{
    width: 200px;
  }

  .top .top-title{
    text-align: left;
    width: 550px;
    margin: 0 auto;
  }

  .top h1{
    margin-left: 20px;
  }


}

@media (min-width: 1025px){
  header .container{
    width: 800px;
  }

  header img{
    width: 300px;
  }

  header h1{
    font-size: 48px;
  }

  header p{
    font-size: 24px;
  }




  .top .top-title{
    width: 800px;
  }

  .top .container{
    width: 800px;
  }

  .top h1{
    font-size: 28px;
    margin-left: 40px;
  }

  .top a{
    font-size: 22px;
  }

  .top img{
    width: 300px;
  }
}

/* メディアクエリ　ブレイクポイントに関して
最小：320px
スマホ：~599px
タブレット：~1024px
PC：1025px~
*/