/* 全体処理 */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

.test-blank{
  height: 1500px;
}

*{
  margin: 0;
  padding: 0;
}

:root{
  --base-color: hsl(30, 81%, 56%);
  --text-color: #3f3f3f;
  --accent-color: hsl(29, 100%, 14%);
  --accent-color2: #8d3b0591;
  --reverse-color: hsl(30, 25%, 40%);
  --back-color:#f2f2f3;
  --shadow-color: #e8e1d2;
  --footer-color: #323135;
  --footer-text-color: #98969c;
}

body{
  margin: 0;
  font-family: 'Noto Sans JP', Verdana, Tahoma, sans-serif;
  background: var(--back-color);
  color: var(--text-color);
}

a{
  text-decoration: none;
  color: var(--text-color);
  font-size: 16px;
}

h1{
  font-size: 24px;
  font-weight: 600;
}

h2{
  font-size: 20px;
  font-weight: 500;
}

p{
  font-size: 14px;
}

img{
  width: 240px;
}

ol{
  margin: 0;
  padding-left: 20px;
}

ol li{
  text-align: left;
  padding: 3px 0;
  font-weight: 500;
}



  /* パーツ */
.wrapper{
  padding: 30px 20px;
  margin: 0 auto;
  margin-bottom: 80px;
  width: 85%;
  text-align: center;
  background: #fff;
  box-shadow: 4px 5px 0 0 var(--shadow-color);
}

.container{
  padding: 30px 0;
  margin: 20px 0 10px 0;
  border-top: 3px solid var(--back-color);
}

.content{
  padding: 50px 0 10px 0;
  margin: 20px 0;
  width: 100%;
  border-top: 3px solid var(--back-color);
}

.content .info{
  text-align: left;
}

.content .info h2{
  padding: 0 20px;
  margin: 30px 0 10px 0;
}

.content .info p{
  line-height: 1.8;
  padding: 0 10px;
}

.btn{
  width: 80%;
  margin: 20px auto;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
  color: var(--back-color);
  background: var(--base-color);
  border-radius: 5px;
  box-shadow: 2px 2px var(--reverse-color);
  cursor: pointer;
}

.marker-yellow{
  background: linear-gradient(transparent 75%, #ffdc00 75%);
}

.marker-brown{
  background: linear-gradient(transparent 75%, var(--accent-color2) 75%);
}



  /* ヘッダー */
header{
  background: var(--base-color);
  color: #fff;
  padding: 100px 0 20px 0;
  margin-bottom: 50px;
  text-align: center;
}

header h1{
  font-size: 32px;
  margin: 16px;
}

header p{
  font-size: 16px;
}

header img{
  margin: 50px 20px;
}

header .scroll p{
  color: var(--accent-color);
  font-weight: bold;
  font-weight: 18px;
  margin-top: 50px;
}

header > .container{
  border: none;
}



  /* トップ */
  .top .container .list{
    width: 250px;
    margin: 0 auto;
  }



  /* メインコンテンツ */

  /* サイトマップ */

  /* お問い合わせ */

  /* フッター */
  footer{
    height: 200px;
    text-align: center;
    background: var(--footer-color);
    color: var(--footer-text-color);
  }

  footer a{
    color: var(--footer-text-color);
    font-size: 12px;
  }

  footer p{
    margin-top: 6px;
    font-size: 12px;
  }

  footer .footer-items{
    padding: 70px;
    align-self: center;
  }



@media (min-width: 610px) {
  /* タブレットサイズ */
  /* 全体処理 */
  img{
    width: 200px;
  }



  /* パーツ */
  .btn{
    width: 100%;
    height: 40px;
    line-height: 40px;
  }

  .container{
    display: flex;
    margin: 20px auto;
  }

  .content{
    display: flex;
    padding: 30px 0;
  }

  .content .pic{
    width: 40%;
    align-self: center;
  }

  .content .info{
    width: 60%;
    padding: 0 20px;
  }

  .content:nth-child(odd){
    flex-direction: row-reverse;
  }



  /* ヘッダー */
  header{
    padding: 100px 0;
  }

  header h1{
    font-size: 34px;
  }

  header p{
    font-size: 18px;
  }

  header .title{
    width: 60%;
    align-self: center;
  }

  header .pic{
    width: 40%;
  }

  header img{
    margin: 0;
  }

  header .container{
    width: 550px;
  }

  header .scroll{
    display: none;
  }



  /* トップ */
  .top .container .list{
    width: 50%;
    align-self: center;
    margin: 0;
  }

  .top .container{
    padding: 30px 0 0 40px;
  }

  .top .pic{
    width: 50%;
  }



  /* メインコンテンツ */

  /* サイトマップ */

  /* お問い合わせ */

}



@media (min-width: 1025px){
  /* PCサイズ */
  /* 全体処理 */
  h1{
  font-size: 28px;
  }

  h2{
    font-size: 22px;
  }

  p{
    font-size: 16px;
  }

  img{
    width: 300px;
  }

  .top ol{
    list-style-type: decimal;
    padding-left: 40px;
  }

  .top .list ol li > a{
    font-size: 20px;
  }



  /* パーツ */
  .btn{
    height: 50px;
    line-height: 50px;
    margin: 30px auto;
  }



  /* ヘッダー */
  header .container{
    width: 800px;
  }

  header h1{
    font-size: 48px;
  }

  header p{
    font-size: 24px;
  }



  /* トップ */

  /* メインコンテンツ */

  /* サイトマップ */

  /* お問い合わせ */

  /* フッター */

}

/* メディアクエリ　ブレイクポイントに関して
最小：320px
スマホ：~609px
タブレット：~1024px
PC：1025px~
*/